a {
	color 		: white;
	text-decoration : none; 
}

a:hover {
	color 		: gray;
	text-decoration : none; 
}

.well {
	background		: rgba(0, 0, 0, 0.7);

	border-style 	: none;  
	color 			: white;
}

#gallerybox {
	margin-top 		: 20px; 
}